{{!-- <h1> {{username}}, Here are your Contacts</h1>

{{#each friends}}

<div class="card" style="width: 18rem;">
    <img src="{{profileImg}}" alt="{{title}}">
    <h1>{{username}}</h1>
    <p>{{bio}}</p>

    {{/each}} --}}


    <div class="container">
        <h1 class='MapHeader text-center mb-5 fw-bold mt-5'>Followers <span id="prueba">.</span></h1>
    </div>


    <section class="container mt-5 mb-5">
        <div class="size">
            <div class="row row-cols-3 row-cols-md-2 g-4">
                {{#each friends}}
                <div class="col mt-5">
                    <div class="card">
                        <img src="{{profileImg}}" class="card-img-top" alt="Hollywood Sign on The Hill" />
                        <div class="card-body">
                            <h1 class=" fw-bold card-title">{{username}}</h1>
                            <p class="card-text">
                                {{bio}}
                            </p>
                            <a href="/user/profile/{{id}}" class="btn btn-outline-success">View Profile</a>
                            <form action="/user/{{id}}/friend-list" method="POST">
                                <input type="submit" value="Add Contact" class="btn btn-info">
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>