<div class="profilecat container mt-5">
    <div class="row">
        <div class="description col mt-5">
            <h1 class="profileTitles"> {{nomad.username}} <span id="prueba">.</span></h1>
            <div>
                <p class="alignedPar">{{nomad.bio}}</p>
            </div>

            <div class="container">
                <h4 class="text-left fs-3 fw-bold mt-5">COPY in</h2>
            </div>

            <div class="container">
                <div class="row">

                    <img class="icon"
                        src="https://res.cloudinary.com/dn3hqbxwn/image/upload/v1669317062/locationIcon_Mesa_de_trabajo_1_zwndcj.png"
                        alt="{{title}}">
                    <h4 class="text-left fs-3 fw-bold mt-5">{{country}},{{city}}</h2>
                </div>

            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <img class="profilePic" src="{{nomad.profileImg}}" alt="{{title}}">
        </div>

    </div>
</div>
<section> </section>


<div class="container mt-5">
    <div class="row mt-80">
        <h4 class="text-left fs-1 fw-bold mt-5 mb-5">Followers</h2>
            <div class="imageCarrousel">
                {{#each nomad.friends}}
                <div class="col">
                    <div>
                        <img class="friendPic" src="{{profileImg}}" alt="{{title}}">
                    </div>
                    <div>
                        <h1 class='text-left fs-3 fw-bold mt-5'>{{username}}</h1>
                    </div>
                </div>
                {{/each}}
            </div>
    </div>
    <a href="/user/{{id}}/friend-list" class="btn btn-dark">All Followers</a>


    <div class="container mt-5">
        <h1 class="pplacesHeader text-center fs-12 fw-bold mt-5 mb-5"> Places.<span id="prueba">.</span>. </h1>
    </div>

    <section Places>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="profileText1 text-left fs-1 fw-bold mt-5">Created</h2>
                </div>
                <div class="col">
                    <h4 class="profileText2 text-left fs-1 fw-bold mt-5">Saved</h2>
                </div>
            </div>

        </div>
    </section>
    <div>

        <p>Not a member? <a href="/auth/sign-up">Register</a></p>









    </div>
    <div class="container row align-items-center">

        {{#each nomad.favPlaces}}
        <h1>{{name}}</h1>
        {{/each}}

    </div>


    <div>
        {{#each nomad.createdPlaces}}
        <h1>{{name}}</h1>

        {{/each}}

    </div>


</div>

<div class="col ml-3">
    <a href="/user/{{id}}/fav-places" class="btn btn-dark">Favorite Places!</a>
    <a href="/user/profile/{{id}}/edit" class="btn btn-dark">Edit Profile</a>
</div>

{{!-- /:user_id/fav-places --}}